src/test/resources/wsdl/laaaumv4.wsdl

<wsdl:definitions name="Laaaumv4WebService" targetNamespace="http://laaaumv4.a02.lgkk.stp.sozvers.at/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://laaaumv4.a02.lgkk.stp.sozvers.at/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http">

    <wsdl:types>

        <xs:schema elementFormDefault="unqualified" targetNamespace="http://laaaumv4.a02.lgkk.stp.sozvers.at/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

            <xs:element name="binaryExecuteService" type="tns:binaryExecuteService"/>

            <xs:element name="binaryExecuteServiceResponse" type="tns:binaryExecuteServiceResponse"/>

            <xs:element name="executeService" type="tns:executeService"/>

            <xs:element name="executeServiceResponse" type="tns:executeServiceResponse"/>

            <xs:element name="laqaumv4" type="tns:laqaumv4"/>

            <xs:element name="serviceAlias" type="tns:serviceAlias"/>

            <xs:element name="serviceAliasResponse" type="tns:serviceAliasResponse"/>

            <xs:complexType name="executeService">

                <xs:sequence>

                    <xs:element minOccurs="0" name="arg0" type="tns:laqaumv4"/>

                </xs:sequence>

            </xs:complexType>

            <xs:complexType name="laqaumv4">

                <xs:sequence>

                    <xs:element minOccurs="0" name="datenv3" type="tns:laqaumv4Datenv3"/>

                    <xs:element minOccurs="0" name="mxcb" type="tns:mxcb"/>

                    <xs:element minOccurs="0" name="stdReqHeader" type="tns:laqaumv4StdReqHeader"/>

                    <xs:element minOccurs="0" name="stdh" type="tns:omStandardRequestHeader"/>

                </xs:sequence>

            </xs:complexType>

            <xs:complexType name="laqaumv4Datenv3">

                <xs:sequence>

                    <xs:element minOccurs="0" name="anstaltbisdat" nillable="true" type="xs:date"/>

                    <xs:element minOccurs="0" name="anstaltvondat" nillable="true" type="xs:date"/>

                    <xs:element minOccurs="0" name="aubisdat" nillable="true" type="xs:date"/>

                    <xs:element minOccurs="0" name="audiagnosebez" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="aumid" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="ausgangbiszeit1" nillable="true" type="xs:time"/>

                    <xs:element minOccurs="0" name="ausgangbiszeit2" nillable="true" type="xs:time"/>

                    <xs:element minOccurs="0" name="ausgangvonzeit1" nillable="true" type="xs:time"/>

                    <xs:element minOccurs="0" name="ausgangvonzeit2" nillable="true" type="xs:time"/>

                    <xs:element minOccurs="0" name="auslaendischertraeger" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="ausstellungsdatum" nillable="true" type="xs:date"/>

                    <xs:element minOccurs="0" name="auvondat" nillable="true" type="xs:date"/>

                    <xs:element minOccurs="0" name="berufskrankheitjn" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="besondereerkrankungtyp" nillable="true" type="xs:int"/>

                    <xs:element minOccurs="0" name="bestaetigungan" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="bettruhejn" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="eaumid" nillable="true" type="xs:long"/>

                    <xs:element minOccurs="0" name="ekvk" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="email" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="fallanmerkung" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="familienname" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="geburtdat" nillable="true" type="xs:date"/>

                    <xs:element minOccurs="0" name="gehunfaehigbisdat" nillable="true" type="xs:date"/>

                    <xs:element minOccurs="0" name="gipsbisdat" nillable="true" type="xs:date"/>

                    <xs:element minOccurs="0" name="icddiagnose" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="lid" nillable="true" type="xs:long"/>

                    <xs:element minOccurs="0" name="meldertyp" nillable="true" type="xs:int"/>

                    <xs:element minOccurs="0" name="meldungsart" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="mitteilungsanmerkung" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="postleitzahl" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="postort" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="quelltraeger" nillable="true" type="xs:int"/>

                    <xs:element minOccurs="0" name="revision" nillable="true" type="xs:int"/>

                    <xs:element minOccurs="0" name="rueckdatierunggrund" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="sendezeitpunkt" nillable="true" type="xs:dateTime"/>

                    <xs:element minOccurs="0" name="staatisoa3" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:int"/>

                    <xs:element minOccurs="0" name="strassehausnummer" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="stromunfalljn" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="telefonnummer" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="ticketId" nillable="true" type="xs:long"/>

                    <xs:element minOccurs="0" name="updatecount" nillable="true" type="xs:int"/>

                    <xs:element minOccurs="0" name="versicherungsnummer" nillable="true" type="xs:long"/>

                    <xs:element minOccurs="0" name="versicherungsnummervertreter" nillable="true" type="xs:long"/>

                    <xs:element minOccurs="0" name="vertragspartnernummer" nillable="true" type="xs:long"/>

                    <xs:element minOccurs="0" name="voraussichtlauendedat" nillable="true" type="xs:date"/>

                    <xs:element minOccurs="0" name="vorname" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="wiederbestelldat" nillable="true" type="xs:date"/>

                    <xs:element minOccurs="0" name="zusatzicd" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="zustaendigertraeger" nillable="true" type="xs:int"/>

                </xs:sequence>

            </xs:complexType>

            <xs:complexType name="mxcb">

                <xs:sequence>

                    <xs:element minOccurs="0" name="BTransactioncontrol" nillable="true" type="xs:boolean"/>

                    <xs:element minOccurs="0" name="COriginatorid" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="CReserved" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="CServicealias" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="CTag" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="CVersion" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="NApplreturncode" nillable="true" type="xs:int"/>

                    <xs:element minOccurs="0" name="NDatalength" nillable="true" type="xs:int"/>

                    <xs:element minOccurs="0" name="NServicestatus" nillable="true" type="xs:int"/>

                    <xs:element minOccurs="0" name="NStartofdata" nillable="true" type="xs:int"/>

                </xs:sequence>

            </xs:complexType>

            <xs:complexType name="laqaumv4StdReqHeader">

                <xs:sequence>

                    <xs:element minOccurs="0" name="aktion" type="xs:unsignedShort"/>

                    <xs:element minOccurs="0" name="bearbgrund" type="xs:string"/>

                    <xs:element minOccurs="0" name="berechtpruefung" type="xs:unsignedShort"/>

                    <xs:element minOccurs="0" name="debuglevel" type="xs:int"/>

                    <xs:element minOccurs="0" name="idapp" type="xs:string"/>

                    <xs:element minOccurs="0" name="orgeinheitid" type="xs:string"/>

                    <xs:element minOccurs="0" name="qbid" type="xs:string"/>

                    <xs:element minOccurs="0" name="systemmodus" type="xs:unsignedShort"/>

                    <xs:element minOccurs="0" name="traegerid" type="xs:string"/>

                    <xs:element minOccurs="0" name="transactionid" type="xs:long"/>

                    <xs:element minOccurs="0" name="verarbeitungsmodus" type="xs:unsignedShort"/>

                    <xs:element minOccurs="0" name="vers" type="xs:string"/>

                    <xs:element minOccurs="0" name="zvst" type="xs:string"/>

                </xs:sequence>

            </xs:complexType>

            <xs:complexType name="omStandardRequestHeader">

                <xs:sequence>

                    <xs:element minOccurs="0" name="aktion" type="xs:unsignedShort"/>

                    <xs:element minOccurs="0" name="bearbgrund" type="xs:string"/>

                    <xs:element minOccurs="0" name="berechtpruefung" type="xs:unsignedShort"/>

                    <xs:element minOccurs="0" name="debuglevel" type="xs:int"/>

                    <xs:element minOccurs="0" name="idapp" type="xs:string"/>

                    <xs:element minOccurs="0" name="orgeinheitid" type="xs:string"/>

                    <xs:element minOccurs="0" name="qbid" type="xs:string"/>

                    <xs:element minOccurs="0" name="systemmodus" type="xs:unsignedShort"/>

                    <xs:element minOccurs="0" name="traegerid" type="xs:string"/>

                    <xs:element minOccurs="0" name="transactionid" type="xs:long"/>

                    <xs:element minOccurs="0" name="verarbeitungsmodus" type="xs:unsignedShort"/>

                    <xs:element minOccurs="0" name="vers" type="xs:string"/>

                    <xs:element minOccurs="0" name="zvst" type="xs:string"/>

                </xs:sequence>

            </xs:complexType>

            <xs:complexType name="executeServiceResponse">

                <xs:sequence>

                    <xs:element minOccurs="0" name="return" type="tns:lasaumvw"/>

                </xs:sequence>

            </xs:complexType>

            <xs:complexType name="lasaumvw">

                <xs:sequence>

                    <xs:element minOccurs="0" name="eaumid" nillable="true" type="xs:long"/>

                    <xs:element minOccurs="0" name="fehler" type="tns:omFehler"/>

                    <xs:element minOccurs="0" name="fehlerpaket" nillable="true" type="xs:string"/>

                    <xs:element minOccurs="0" name="mxcb" type="tns:mxcb"/>

                </xs:sequence>

            </xs:complexType>

            <xs:complexType name="omFehler">

                <xs:sequence>

                    <xs:element minOccurs="0" name="fehlerpaket" type="xs:string"/>

                </xs:sequence>

            </xs:complexType>

            <xs:complexType name="meldung">

                <xs:sequence/>

            </xs:complexType>

            <xs:complexType name="serviceAlias">

                <xs:sequence/>

            </xs:complexType>

            <xs:complexType name="serviceAliasResponse">

                <xs:sequence>

                    <xs:element minOccurs="0" name="return" type="xs:string"/>

                </xs:sequence>

            </xs:complexType>

            <xs:complexType name="binaryExecuteService">

                <xs:sequence>

                    <xs:element minOccurs="0" name="arg0" type="xs:base64Binary"/>

                </xs:sequence>

            </xs:complexType>

            <xs:complexType name="binaryExecuteServiceResponse">

                <xs:sequence>

                    <xs:element minOccurs="0" name="return" type="xs:base64Binary"/>

                </xs:sequence>

            </xs:complexType>

        </xs:schema>

    </wsdl:types>

    <wsdl:message name="binaryExecuteServiceResponse">

        <wsdl:part element="tns:binaryExecuteServiceResponse" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="executeService">

        <wsdl:part element="tns:executeService" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="executeServiceResponse">

        <wsdl:part element="tns:executeServiceResponse" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="serviceAliasResponse">

        <wsdl:part element="tns:serviceAliasResponse" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="binaryExecuteService">

        <wsdl:part element="tns:binaryExecuteService" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="serviceAlias">

        <wsdl:part element="tns:serviceAlias" name="parameters"/>

    </wsdl:message>

    <wsdl:portType name="Laaaumv4Web">

        <wsdl:operation name="executeService">

            <wsdl:input message="tns:executeService" name="executeService"/>

            <wsdl:output message="tns:executeServiceResponse" name="executeServiceResponse"/>

        </wsdl:operation>

        <wsdl:operation name="serviceAlias">

            <wsdl:input message="tns:serviceAlias" name="serviceAlias"/>

            <wsdl:output message="tns:serviceAliasResponse" name="serviceAliasResponse"/>

        </wsdl:operation>

        <wsdl:operation name="binaryExecuteService">

            <wsdl:input message="tns:binaryExecuteService" name="binaryExecuteService"/>

            <wsdl:output message="tns:binaryExecuteServiceResponse" name="binaryExecuteServiceResponse"/>

        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="Laaaumv4WebServiceSoapBinding" type="tns:Laaaumv4Web">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="executeService">

            <soap:operation soapAction="" style="document"/>

            <wsdl:input name="executeService">

                <soap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="executeServiceResponse">

                <soap:body use="literal"/>

            </wsdl:output>

        </wsdl:operation>

        <wsdl:operation name="serviceAlias">

            <soap:operation soapAction="" style="document"/>

            <wsdl:input name="serviceAlias">

                <soap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="serviceAliasResponse">

                <soap:body use="literal"/>

            </wsdl:output>

        </wsdl:operation>

        <wsdl:operation name="binaryExecuteService">

            <soap:operation soapAction="" style="document"/>

            <wsdl:input name="binaryExecuteService">

                <soap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="binaryExecuteServiceResponse">

                <soap:body use="literal"/>

            </wsdl:output>

        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="Laaaumv4WebService">

        <wsdl:port binding="tns:Laaaumv4WebServiceSoapBinding" name="Laaaumv4WebPort">

            <soap:address location="http://localhost:8080/lgkk-a02-service/Laaaumv4Web"/>

        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>
